@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

/* 리셋CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}


/* 공통영역  */

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.clear:after {
    content:""; display:block; clear: both;
}

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg {
  background: #121a3b;
  background-blend-mode: screen;
  background-size: cover;
  /* filter: grayscale(100%); */
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: 2560px;
}

.particle-1 {
  animation: animParticle 60s linear infinite;
  box-shadow: 0px 0px #fff, 1888px 97px #fff, 1231px 1511px #fff, 113px 412px #fff,
    1714px 280px #fff, 1203px 1873px #fff, 1723px 604px #fff, 283px 827px #fff, 1764px 205px #fff,
    1168px 2100px #fff, 1051px 190px #fff, 1011px 1076px #fff, 418px 2063px #fff, 1916px 950px #fff,
    504px 2134px #fff, 1881px 1051px #fff, 1996px 364px #fff, 807px 2155px #fff, 611px 2439px #fff,
    1299px 2499px #fff, 1096px 322px #fff, 2081px 536px #fff, 744px 1927px #fff, 1303px 1313px #fff,
    661px 2130px #fff, 1854px 466px #fff, 2339px 393px #fff, 1659px 429px #fff, 2171px 329px #fff,
    2353px 562px #fff, 521px 1575px #fff, 271px 851px #fff, 1863px 910px #fff, 1252px 1793px #fff,
    2443px 643px #fff, 1164px 1096px #fff, 1088px 317px #fff, 206px 10px #fff, 89px 1335px #fff,
    1763px 1910px #fff, 1716px 1889px #fff, 654px 315px #fff, 1209px 2516px #fff, 846px 2332px #fff,
    271px 509px #fff, 1556px 1075px #fff, 1030px 115px #fff, 2352px 631px #fff, 2398px 664px #fff,
    666px 1250px #fff, 804px 2531px #fff, 1963px 2461px #fff, 2032px 1884px #fff, 2252px 706px #fff,
    291px 1165px #fff, 207px 76px #fff, 2px 713px #fff, 389px 1961px #fff, 1134px 603px #fff,
    254px 448px #fff, 1987px 72px #fff, 181px 2318px #fff, 1808px 974px #fff, 2356px 1901px #fff,
    61px 1730px #fff, 2138px 1446px #fff, 281px 1513px #fff, 419px 1124px #fff, 1068px 65px #fff,
    578px 1238px #fff, 601px 2201px #fff, 2467px 153px #fff, 2322px 220px #fff, 1636px 2036px #fff,
    629px 84px #fff, 2402px 240px #fff, 2476px 22px #fff, 2138px 2024px #fff, 881px 518px #fff,
    868px 676px #fff, 341px 132px #fff, 510px 808px #fff, 1861px 1012px #fff, 1755px 674px #fff,
    2023px 454px #fff, 234px 1874px #fff, 546px 2466px #fff, 321px 960px #fff, 2292px 1002px #fff,
    2284px 610px #fff, 1197px 2203px #fff, 91px 721px #fff, 1965px 2193px #fff, 579px 602px #fff,
    1700px 1013px #fff, 1377px 238px #fff, 1526px 2371px #fff, 1581px 2401px #fff,
    1549px 1363px #fff, 341px 1077px #fff, 2422px 827px #fff, 2240px 125px #fff, 2434px 1437px #fff,
    2251px 649px #fff, 1717px 1468px #fff, 2401px 650px #fff, 23px 1474px #fff, 2436px 434px #fff,
    79px 718px #fff, 1920px 1596px #fff, 1766px 554px #fff, 1799px 2153px #fff, 517px 1319px #fff,
    1567px 971px #fff, 459px 1710px #fff, 576px 745px #fff, 1600px 881px #fff, 2302px 2537px #fff,
    2196px 993px #fff, 290px 1808px #fff, 883px 2302px #fff, 2394px 750px #fff, 1040px 1513px #fff,
    382px 364px #fff, 1525px 487px #fff, 958px 1687px #fff, 762px 2457px #fff, 694px 1579px #fff,
    1651px 1365px #fff, 220px 2247px #fff, 1294px 1264px #fff, 797px 893px #fff, 202px 1443px #fff,
    1879px 553px #fff, 687px 142px #fff, 415px 2353px #fff, 674px 863px #fff, 1624px 2231px #fff,
    1370px 1278px #fff, 1300px 1141px #fff, 1101px 1106px #fff, 1444px 1049px #fff,
    1222px 2436px #fff, 793px 550px #fff, 1751px 1211px #fff, 2388px 2514px #fff, 1441px 2254px #fff,
    240px 90px #fff, 1052px 283px #fff, 2153px 2328px #fff, 853px 1379px #fff, 734px 1067px #fff,
    2157px 1112px #fff, 178px 1917px #fff, 1362px 2218px #fff, 2158px 135px #fff, 2501px 1219px #fff,
    1411px 1235px #fff, 77px 345px #fff, 1218px 462px #fff, 797px 2082px #fff, 1892px 977px #fff,
    678px 1805px #fff, 1448px 1293px #fff, 668px 1256px #fff, 2529px 163px #fff, 2053px 2372px #fff,
    738px 198px #fff, 2507px 836px #fff, 2303px 730px #fff, 1523px 1038px #fff, 1346px 1750px #fff,
    136px 1013px #fff, 1178px 349px #fff, 2076px 1609px #fff, 788px 2290px #fff, 933px 1842px #fff,
    1038px 2440px #fff, 1404px 1613px #fff, 2185px 1383px #fff, 2438px 672px #fff, 898px 357px #fff,
    139px 1712px #fff, 1599px 468px #fff, 2192px 883px #fff, 1567px 1337px #fff, 926px 1901px #fff,
    2552px 1693px #fff, 1987px 161px #fff, 2087px 845px #fff, 2128px 2048px #fff, 2312px 735px #fff,
    979px 2351px #fff, 1304px 2092px #fff, 944px 2353px #fff, 6px 952px #fff, 39px 1741px #fff,
    2431px 2382px #fff, 1px 253px #fff, 1008px 1771px #fff, 643px 1369px #fff, 800px 826px #fff,
    2048px 1849px #fff, 391px 2032px #fff, 401px 1183px #fff, 1357px 131px #fff, 511px 1324px #fff,
    2502px 1534px #fff, 370px 847px #fff, 2025px 2266px #fff, 2414px 1662px #fff, 2183px 12px #fff,
    1279px 820px #fff, 1391px 2380px #fff, 544px 2085px #fff, 1581px 259px #fff, 2282px 512px #fff,
    2177px 347px #fff, 997px 1106px #fff, 922px 2003px #fff, 1137px 2158px #fff, 859px 1454px #fff,
    624px 1723px #fff, 281px 2152px #fff, 2017px 236px #fff, 2460px 2361px #fff, 1561px 692px #fff,
    1006px 2316px #fff, 914px 2246px #fff, 1833px 925px #fff, 730px 2320px #fff, 2431px 2193px #fff,
    1032px 1372px #fff, 2421px 2158px #fff, 1975px 2496px #fff, 203px 1541px #fff, 1743px 8px #fff,
    701px 1115px #fff, 1068px 2278px #fff, 606px 1067px #fff, 2337px 2063px #fff, 2145px 222px #fff,
    1743px 2358px #fff, 2227px 658px #fff, 2227px 671px #fff, 1121px 2376px #fff, 2537px 559px #fff,
    2244px 1721px #fff, 1122px 2546px #fff, 1855px 1718px #fff, 1969px 839px #fff, 585px 1562px #fff,
    565px 896px #fff, 282px 1892px #fff, 1655px 154px #fff, 1234px 133px #fff, 1088px 773px #fff,
    976px 1127px #fff, 2444px 454px #fff, 976px 1128px #fff, 773px 2442px #fff, 1704px 559px #fff,
    582px 1971px #fff, 2516px 1229px #fff, 2512px 1596px #fff, 2442px 1246px #fff,
    2471px 1900px #fff, 1471px 2143px #fff, 687px 945px #fff, 2452px 1170px #fff, 318px 2242px #fff,
    2446px 1221px #fff, 1272px 1778px #fff, 897px 209px #fff, 583px 752px #fff, 732px 1283px #fff,
    1632px 1629px #fff, 190px 1262px #fff, 1140px 1547px #fff, 1345px 1546px #fff, 644px 1755px #fff,
    2498px 1571px #fff, 2435px 1728px #fff, 2013px 1207px #fff, 563px 641px #fff, 287px 42px #fff,
    196px 1430px #fff, 1197px 1643px #fff, 1194px 1749px #fff, 1045px 35px #fff, 706px 1571px #fff,
    774px 1837px #fff, 808px 1657px #fff, 1724px 1982px #fff, 2541px 370px #fff, 826px 2485px #fff,
    439px 1241px #fff, 516px 560px #fff, 716px 2318px #fff, 78px 1648px #fff, 707px 1003px #fff,
    790px 180px #fff, 2292px 978px #fff, 2259px 410px #fff, 1046px 212px #fff, 1679px 1660px #fff,
    2169px 2533px #fff, 1298px 938px #fff, 892px 392px #fff, 2094px 1540px #fff, 2453px 2502px #fff,
    1165px 2350px #fff, 1926px 2450px #fff, 879px 174px #fff, 2514px 1360px #fff, 110px 10px #fff,
    944px 545px #fff, 204px 562px #fff, 830px 730px #fff, 1381px 193px #fff, 847px 1675px #fff,
    1749px 1472px #fff, 1163px 103px #fff, 2543px 433px #fff, 668px 2378px #fff, 955px 1556px #fff,
    332px 623px #fff, 2529px 387px #fff, 2287px 117px #fff, 707px 655px #fff, 1659px 1352px #fff,
    737px 1597px #fff, 1679px 2541px #fff, 759px 471px #fff, 419px 247px #fff, 2046px 768px #fff,
    1628px 2510px #fff, 699px 2383px #fff, 1330px 820px #fff, 953px 160px #fff, 465px 1207px #fff,
    1853px 1887px #fff, 875px 811px #fff, 620px 809px #fff, 244px 303px #fff, 1852px 1825px #fff,
    506px 1302px #fff, 1988px 18px #fff, 2184px 2114px #fff, 786px 1343px #fff, 1833px 1919px #fff,
    333px 2488px #fff, 1364px 1125px #fff, 1635px 1474px #fff, 108px 903px #fff, 658px 2230px #fff,
    1895px 356px #fff, 2409px 32px #fff, 2409px 2144px #fff, 1673px 697px #fff, 641px 424px #fff,
    742px 1588px #fff, 2229px 365px #fff, 842px 1435px #fff, 993px 1236px #fff, 458px 1756px #fff,
    2343px 2386px #fff, 623px 1642px #fff, 116px 1861px #fff, 2404px 1915px #fff, 361px 1608px #fff,
    2000px 1834px #fff, 164px 358px #fff, 1093px 2420px #fff, 771px 664px #fff, 715px 960px #fff,
    1882px 1218px #fff, 763px 2491px #fff, 1631px 315px #fff, 1686px 2007px #fff, 2068px 1909px #fff,
    1713px 1421px #fff, 200px 1006px #fff, 443px 1378px #fff, 2151px 1947px #fff, 520px 2376px #fff,
    1427px 1873px #fff, 577px 1676px #fff, 2486px 945px #fff, 677px 2432px #fff, 1997px 1644px #fff,
    330px 1435px #fff, 815px 281px #fff, 2253px 387px #fff, 990px 2541px #fff, 1801px 2485px #fff,
    2201px 1556px #fff, 2172px 265px #fff, 1889px 2309px #fff, 1357px 2125px #fff, 666px 1189px #fff,
    1352px 1079px #fff, 2463px 182px #fff, 2336px 164px #fff, 377px 149px #fff, 1059px 2293px #fff,
    2507px 1989px #fff, 679px 1742px #fff, 18px 1006px #fff, 1229px 620px #fff, 178px 2317px #fff,
    580px 480px #fff, 1964px 384px #fff, 1360px 308px #fff, 1383px 1810px #fff, 477px 1506px #fff,
    887px 797px #fff, 739px 502px #fff, 2434px 2058px #fff, 1474px 109px #fff, 1769px 1566px #fff,
    813px 455px #fff, 164px 919px #fff, 1415px 2072px #fff, 627px 202px #fff, 1539px 1053px #fff,
    2435px 65px #fff, 643px 811px #fff, 144px 1108px #fff, 2101px 685px #fff, 2102px 1732px #fff,
    974px 816px #fff, 2306px 1686px #fff, 2556px 2127px #fff, 1939px 1445px #fff, 2327px 530px #fff,
    2138px 2474px #fff, 69px 663px #fff, 2133px 2455px #fff, 1367px 1124px #fff, 1158px 195px #fff,
    1259px 2120px #fff, 70px 1426px #fff, 187px 2026px #fff, 542px 837px #fff, 1689px 2220px #fff,
    1200px 1805px #fff, 1091px 720px #fff, 735px 1270px #fff, 635px 2405px #fff, 984px 2116px #fff,
    2291px 843px #fff, 1125px 2186px #fff, 273px 83px #fff, 336px 640px #fff, 606px 2255px #fff,
    1012px 1690px #fff, 2481px 2466px #fff, 1419px 1370px #fff, 136px 814px #fff, 1566px 672px #fff,
    1885px 834px #fff, 1715px 2137px #fff, 2192px 1301px #fff, 1300px 1119px #fff,
    1993px 1822px #fff, 2291px 1746px #fff, 1165px 1026px #fff, 917px 547px #fff, 176px 1625px #fff,
    688px 2119px #fff, 1959px 242px #fff, 1999px 2093px #fff, 1763px 1673px #fff, 728px 1674px #fff,
    2545px 2430px #fff, 924px 1566px #fff, 1687px 1004px #fff, 1667px 920px #fff, 324px 437px #fff,
    1548px 1156px #fff, 2026px 2136px #fff, 992px 203px #fff, 1901px 1166px #fff, 241px 2119px #fff,
    1432px 2172px #fff, 402px 1184px #fff, 2277px 917px #fff, 492px 2507px #fff, 272px 2392px #fff,
    1613px 736px #fff, 2148px 1830px #fff, 2359px 758px #fff, 476px 821px #fff, 2028px 1793px #fff,
    435px 2201px #fff, 899px 571px #fff, 337px 1437px #fff, 2286px 2286px #fff, 1042px 1072px #fff,
    2366px 2375px #fff, 2268px 809px #fff, 589px 1550px #fff, 1389px 1795px #fff, 796px 1762px #fff,
    2100px 525px #fff, 1440px 1708px #fff, 2538px 199px #fff, 6px 771px #fff, 2171px 917px #fff,
    1065px 72px #fff, 60px 1920px #fff, 1642px 1810px #fff, 1459px 852px #fff, 76px 122px #fff,
    817px 698px #fff, 1775px 676px #fff, 392px 1562px #fff, 355px 1339px #fff, 300px 285px #fff,
    50px 1767px #fff, 1976px 700px #fff, 2383px 1672px #fff, 112px 196px #fff, 62px 1087px #fff,
    2243px 2479px #fff, 700px 2273px #fff, 780px 1553px #fff, 1972px 2558px #fff, 553px 728px #fff,
    1440px 2266px #fff, 290px 2188px #fff, 1317px 733px #fff, 1312px 340px #fff, 1737px 1450px #fff,
    552px 1213px #fff, 932px 1717px;
  border-radius: 50%;
  height: 2px;
  width: 2px;
}

.particle-1:after {
  box-shadow: 0px 0px #fff, 1137px 1629px #fff, 1672px 2394px #fff, 303px 1263px #fff,
    1976px 1309px #fff, 991px 1507px #fff, 1642px 1634px #fff, 161px 1868px #fff, 1848px 2109px #fff,
    2069px 299px #fff, 1148px 1757px #fff, 927px 2056px #fff, 2398px 1335px #fff, 2184px 1039px #fff,
    2025px 16px #fff, 1464px 886px #fff, 1388px 299px #fff, 1140px 1518px #fff, 633px 2265px #fff,
    2547px 1609px #fff, 1316px 182px #fff, 256px 1926px #fff, 302px 1569px #fff, 916px 1647px #fff,
    2487px 669px #fff, 2306px 353px #fff, 627px 2270px #fff, 2197px 2293px #fff, 887px 2086px #fff,
    337px 1494px #fff, 1292px 997px #fff, 396px 1659px #fff, 312px 756px #fff, 874px 2497px #fff,
    120px 1340px #fff, 2301px 460px #fff, 909px 1725px #fff, 78px 1578px #fff, 2110px 470px #fff,
    1354px 567px #fff, 2214px 1356px #fff, 335px 1227px #fff, 728px 2266px #fff, 732px 2283px #fff,
    1288px 572px #fff, 939px 539px #fff, 167px 1291px #fff, 925px 2180px #fff, 1592px 824px #fff,
    1707px 1516px #fff, 1641px 111px #fff, 345px 1046px #fff, 2413px 2053px #fff, 837px 72px #fff,
    478px 1274px #fff, 740px 154px #fff, 696px 572px #fff, 1478px 834px #fff, 334px 2107px #fff,
    874px 202px #fff, 1056px 934px #fff, 2332px 894px #fff, 1346px 1016px #fff, 974px 1980px #fff,
    1883px 1243px #fff, 585px 1407px #fff, 1484px 47px #fff, 1079px 1575px #fff, 1332px 764px #fff,
    2114px 1562px #fff, 82px 2074px #fff, 2405px 839px #fff, 1189px 1559px #fff, 384px 196px #fff,
    2106px 2410px #fff, 1108px 151px #fff, 1538px 223px #fff, 1266px 2166px #fff, 800px 1996px #fff,
    1809px 1227px #fff, 1321px 1224px #fff, 1179px 1212px #fff, 772px 2170px #fff, 228px 529px #fff,
    1616px 2521px #fff, 2036px 526px #fff, 1847px 1494px #fff, 2021px 2097px #fff,
    2371px 1912px #fff, 1119px 126px #fff, 1511px 1710px #fff, 1759px 164px #fff, 1485px 1845px #fff,
    740px 1484px #fff, 1710px 2089px #fff, 514px 75px #fff, 93px 258px #fff, 2062px 113px #fff,
    150px 863px #fff, 1918px 1778px #fff, 913px 1479px #fff, 1853px 2181px #fff, 2136px 1157px #fff,
    1597px 1704px #fff, 2528px 365px #fff, 1769px 2486px #fff, 251px 1496px #fff, 1178px 1744px #fff,
    613px 1436px #fff, 514px 657px #fff, 293px 1820px #fff, 748px 1827px #fff, 370px 2494px #fff,
    668px 2149px #fff, 1031px 1528px #fff, 2275px 764px #fff, 823px 83px #fff, 1535px 263px #fff,
    756px 951px #fff, 1427px 673px #fff, 1853px 823px #fff, 620px 1186px #fff, 108px 1021px #fff,
    1156px 1613px #fff, 711px 1607px #fff, 1944px 876px #fff, 1308px 1098px #fff, 600px 1060px #fff,
    2551px 147px #fff, 1842px 407px #fff, 1685px 2400px #fff, 1893px 1930px #fff, 223px 223px #fff,
    777px 1760px #fff, 1224px 2322px #fff, 1891px 309px #fff, 1268px 1012px #fff, 1906px 638px #fff,
    2122px 1426px #fff, 1533px 1538px #fff, 397px 435px #fff, 1814px 1073px #fff, 1871px 102px #fff,
    1440px 1314px #fff, 689px 1359px #fff, 1458px 327px #fff, 1981px 707px #fff, 578px 326px #fff,
    1296px 199px #fff, 775px 2527px #fff, 2161px 1696px #fff, 153px 927px #fff, 2324px 564px #fff,
    1250px 2273px #fff, 766px 1498px #fff, 1041px 1708px #fff, 518px 2048px #fff, 1619px 2043px #fff,
    225px 1874px #fff, 903px 1151px #fff, 501px 1319px #fff, 1244px 135px #fff, 233px 1075px #fff,
    436px 1201px #fff, 148px 1876px #fff, 1129px 169px #fff, 1830px 2417px #fff, 2521px 2400px #fff,
    2166px 1785px #fff, 1187px 1242px #fff, 2140px 1039px #fff, 1334px 1763px #fff,
    1193px 778px #fff, 1931px 2003px #fff, 1457px 1511px #fff, 221px 1850px #fff, 643px 27px #fff,
    766px 648px #fff, 1325px 1073px #fff, 2409px 1073px #fff, 1760px 1469px #fff, 1289px 289px #fff,
    2446px 2071px #fff, 1165px 60px #fff, 936px 1790px #fff, 340px 1217px #fff, 1056px 784px #fff,
    809px 2026px #fff, 1337px 1894px #fff, 1844px 1855px #fff, 1535px 925px #fff, 676px 519px #fff,
    332px 1257px #fff, 969px 547px #fff, 1488px 1148px #fff, 2374px 2338px #fff, 72px 505px #fff,
    2552px 1609px #fff, 1906px 546px #fff, 1284px 2011px #fff, 1532px 279px #fff, 129px 670px #fff,
    44px 362px #fff, 763px 1658px #fff, 1402px 331px #fff, 1327px 2431px #fff, 1730px 403px #fff,
    1472px 96px #fff, 1957px 1869px #fff, 2032px 2236px #fff, 1709px 2025px #fff, 690px 2181px #fff,
    1026px 1412px #fff, 1950px 2462px #fff, 2199px 1972px #fff, 2126px 1977px #fff,
    1299px 870px #fff, 592px 996px #fff, 434px 2304px #fff, 1953px 12px #fff, 2162px 413px #fff,
    328px 850px #fff, 2131px 2377px #fff, 2098px 1255px #fff, 1266px 1773px #fff, 1855px 2047px #fff,
    487px 1841px #fff, 1934px 772px #fff, 57px 700px #fff, 1400px 2433px #fff, 1283px 858px #fff,
    234px 1055px #fff, 1735px 1131px #fff, 1023px 1058px #fff, 409px 1618px #fff, 1928px 48px #fff,
    2414px 1612px #fff, 430px 156px #fff, 1132px 2095px #fff, 645px 2279px #fff, 672px 398px #fff,
    1920px 982px #fff, 2095px 1558px #fff, 189px 1330px #fff, 1360px 1075px #fff, 1502px 2024px #fff,
    1277px 1204px #fff, 851px 2119px #fff, 1996px 661px #fff, 1090px 1317px #fff, 2468px 2005px #fff,
    1932px 2269px #fff, 1368px 2335px #fff, 1091px 141px #fff, 324px 1170px #fff, 2490px 2299px #fff,
    1577px 287px #fff, 2084px 1017px #fff, 72px 25px #fff, 661px 1132px #fff, 1058px 1423px #fff,
    532px 675px #fff, 328px 1712px #fff, 1052px 2090px #fff, 1624px 1384px #fff, 2508px 86px #fff,
    1091px 2404px #fff, 1665px 1623px #fff, 2144px 845px #fff, 217px 583px #fff, 1666px 1880px #fff,
    767px 1116px #fff, 194px 272px #fff, 1090px 2099px #fff, 858px 2079px #fff, 1263px 2551px #fff,
    1575px 1880px #fff, 651px 394px #fff, 1936px 2184px #fff, 716px 312px #fff, 42px 1930px #fff,
    1364px 631px #fff, 1943px 2184px #fff, 36px 2442px #fff, 1857px 367px #fff, 340px 607px #fff,
    1145px 407px #fff, 1661px 2228px #fff, 1952px 319px #fff, 2197px 1427px #fff, 1982px 1769px #fff,
    317px 1957px #fff, 2052px 1425px #fff, 2499px 1550px #fff, 1360px 898px #fff, 1044px 583px #fff,
    664px 330px #fff, 1083px 2091px #fff, 219px 1811px #fff, 1752px 203px #fff, 2210px 889px #fff,
    1689px 863px #fff, 2357px 984px #fff, 468px 2157px #fff, 1367px 1523px #fff, 1289px 750px #fff,
    547px 2461px #fff, 604px 1828px #fff, 616px 1245px #fff, 833px 1207px #fff, 1054px 1094px #fff,
    321px 1191px #fff, 1699px 1115px #fff, 2372px 1322px #fff, 1390px 713px #fff, 1045px 2488px #fff,
    944px 1957px #fff, 33px 2286px #fff, 201px 1601px #fff, 1776px 821px #fff, 265px 2517px #fff,
    2348px 455px #fff, 969px 1090px #fff, 2553px 1441px #fff, 2332px 750px #fff, 354px 750px #fff,
    120px 2150px #fff, 1059px 1460px #fff, 168px 1687px #fff, 2308px 145px #fff, 1352px 1085px #fff,
    2310px 987px #fff, 2413px 2437px #fff, 2464px 2483px #fff, 2053px 2031px #fff, 2151px 640px #fff,
    2331px 549px #fff, 1713px 282px #fff, 604px 647px #fff, 1238px 2456px #fff, 1905px 1808px #fff,
    60px 1093px #fff, 1212px 2407px #fff, 222px 1136px #fff, 2248px 2278px #fff, 2220px 112px #fff,
    838px 78px #fff, 1695px 4px #fff, 2383px 2265px #fff, 1259px 1440px #fff, 39px 1070px #fff,
    383px 1818px #fff, 2188px 1438px #fff, 1765px 261px #fff, 698px 391px #fff, 193px 482px #fff,
    23px 586px #fff, 1239px 86px #fff, 1856px 2470px #fff, 1764px 1101px #fff, 1653px 2163px #fff,
    227px 1693px #fff, 521px 2482px #fff, 401px 1724px #fff, 2305px 301px #fff, 96px 1311px #fff,
    413px 56px #fff, 542px 2047px #fff, 1475px 632px #fff, 2495px 300px #fff, 1240px 1421px #fff,
    2489px 2279px #fff, 2353px 1752px #fff, 2493px 740px #fff, 508px 1395px #fff, 780px 2068px #fff,
    323px 1072px #fff, 809px 754px #fff, 123px 976px #fff, 1907px 1890px #fff, 573px 411px #fff,
    1754px 697px #fff, 1715px 1522px #fff, 1769px 407px #fff, 1191px 1875px #fff, 638px 1477px #fff,
    551px 306px #fff, 444px 614px #fff, 2292px 2177px #fff, 4px 1331px #fff, 597px 2269px #fff,
    1425px 83px #fff, 2497px 1783px #fff, 1225px 180px #fff, 1543px 2338px #fff, 1276px 1045px #fff,
    2314px 939px #fff, 1868px 2347px #fff, 498px 2507px #fff, 2204px 1455px #fff, 1213px 400px #fff,
    1545px 517px #fff, 581px 915px #fff, 1498px 1289px #fff, 48px 269px #fff, 614px 980px #fff,
    1354px 1393px #fff, 852px 230px #fff, 1016px 1913px #fff, 275px 1000px #fff, 2520px 2487px #fff,
    89px 1622px #fff, 680px 1838px #fff, 2151px 1069px #fff, 1446px 2022px #fff, 443px 2080px #fff,
    438px 1367px #fff, 2497px 2312px #fff, 2454px 126px #fff, 2126px 544px #fff, 883px 1718px #fff,
    1967px 1081px #fff, 1721px 1079px #fff, 580px 1449px #fff, 1100px 2327px #fff,
    2391px 1016px #fff, 2124px 743px #fff, 2426px 2350px #fff, 1682px 2448px #fff, 1028px 417px #fff,
    1028px 876px #fff, 231px 735px #fff, 1028px 1594px #fff, 801px 1398px #fff, 729px 1558px #fff,
    639px 2532px #fff, 229px 827px #fff, 263px 1111px #fff, 690px 1695px #fff, 1648px 1305px #fff,
    1228px 203px #fff, 323px 1095px #fff, 805px 1379px #fff, 1332px 528px #fff, 600px 1295px #fff,
    2013px 1583px #fff, 628px 120px #fff, 954px 1429px #fff, 98px 1319px #fff, 1498px 2432px #fff,
    1993px 2460px #fff, 533px 1701px #fff, 1542px 893px #fff, 2378px 2511px #fff, 1539px 1960px #fff,
    777px 1981px #fff, 1480px 1978px #fff, 933px 1815px #fff, 2000px 1978px #fff, 1642px 2460px #fff,
    99px 2159px #fff, 2292px 2364px #fff, 191px 99px #fff, 2074px 1397px #fff, 510px 2287px #fff,
    208px 517px #fff, 975px 914px #fff, 2205px 1788px #fff, 1930px 1421px #fff, 136px 119px #fff,
    974px 2418px #fff, 1448px 1980px #fff, 1422px 2533px #fff, 2436px 2045px #fff, 789px 2264px #fff,
    553px 276px #fff, 2468px 2005px #fff, 1398px 334px #fff, 226px 1475px #fff, 59px 338px #fff,
    1735px 366px #fff, 790px 485px #fff, 915px 425px #fff, 133px 482px #fff, 445px 1931px #fff,
    1732px 1624px #fff, 1323px 1715px #fff, 1871px 1950px #fff, 39px 2526px #fff, 1033px 2162px #fff,
    283px 526px #fff, 1965px 404px #fff, 2173px 2349px #fff, 2400px 245px #fff, 722px 2558px #fff,
    1596px 77px #fff, 1423px 674px #fff, 1427px 514px #fff, 2430px 2082px #fff, 225px 2215px #fff,
    1460px 1592px #fff, 1897px 1847px #fff, 1153px 1231px #fff, 660px 1727px #fff,
    2196px 1530px #fff, 1204px 205px #fff, 1188px 1436px #fff, 1598px 1355px #fff, 216px 1127px #fff,
    523px 2340px #fff, 339px 1680px #fff, 2403px 1429px #fff, 1914px 65px #fff, 2288px 47px #fff,
    1913px 1250px #fff, 2473px 1019px #fff, 1689px 1096px #fff, 2274px 843px #fff, 116px 2287px #fff,
    843px 2398px #fff, 596px 963px #fff, 1806px 736px #fff, 1125px 1138px #fff, 2384px 1777px #fff,
    1416px 844px #fff, 203px 1640px #fff, 2027px 113px #fff, 667px 2121px #fff, 1621px 381px #fff,
    612px 2559px #fff, 183px 1041px #fff, 1261px 1299px #fff, 452px 1870px #fff, 601px 565px #fff,
    2293px 2026px #fff, 1331px 1072px #fff, 1988px 2542px #fff, 2379px 158px #fff, 254px 2160px #fff,
    2019px 936px #fff, 2103px 1994px #fff, 1208px 534px #fff, 1495px 546px #fff, 297px 2377px #fff,
    490px 1694px #fff, 1516px 1926px #fff, 1831px 2359px #fff, 1573px 1768px #fff,
    2012px 2261px #fff, 1106px 502px #fff, 2014px 2394px #fff, 82px 127px #fff, 996px 312px #fff,
    2222px 902px #fff, 2013px 1773px #fff, 617px 2125px #fff, 2250px 1348px #fff, 2223px 1324px #fff,
    1559px 1500px #fff, 663px 2441px #fff, 447px 1364px #fff, 2268px 643px #fff, 1056px 2350px #fff,
    907px 1675px #fff, 156px 1905px #fff, 2342px 1062px #fff, 2299px 2098px #fff, 1923px 615px #fff,
    248px 2316px #fff, 137px 1290px #fff, 870px 245px #fff, 1188px 11px #fff, 2539px 1142px #fff,
    562px 1025px #fff, 1798px 1783px #fff, 552px 2080px #fff, 998px 636px #fff, 2288px 706px #fff,
    695px 465px #fff, 657px 1509px #fff, 824px 495px #fff, 1093px 201px #fff, 1308px 232px #fff,
    1852px 516px #fff, 1px 1612px #fff, 2221px 688px #fff, 2179px 103px #fff, 1998px 571px #fff,
    2013px 1839px #fff, 1358px 2542px #fff, 595px 159px #fff, 657px 1787px #fff, 886px 2439px #fff,
    305px 1101px #fff, 500px 319px #fff, 2153px 1351px #fff, 894px 176px #fff, 637px 1776px #fff,
    374px 1448px #fff, 1746px 1725px #fff, 2204px 324px #fff, 480px 828px #fff, 790px 2536px #fff,
    271px 2511px #fff, 2000px 1336px #fff, 1548px 2183px #fff, 2424px 1174px #fff, 1570px 66px #fff,
    2366px 723px #fff, 688px 835px #fff, 812px 699px #fff, 1746px 1914px #fff, 1173px 1692px #fff,
    2459px 575px #fff, 2023px 997px #fff, 1453px 1318px #fff, 2552px 987px #fff, 2054px 1132px #fff,
    445px 2524px #fff, 43px 2212px #fff, 1904px 1782px #fff, 1168px 1380px #fff, 1171px 1944px #fff,
    1663px 1963px #fff, 2108px 2525px #fff, 642px 1056px #fff, 1547px 1607px #fff,
    2351px 1912px #fff, 2223px 26px #fff, 1434px 1162px #fff, 23px 378px #fff, 2440px 1638px #fff,
    707px 256px #fff, 1164px 962px #fff, 2260px 1200px #fff, 218px 2341px #fff, 1540px 1918px #fff,
    1775px 1014px #fff, 2423px 1701px #fff, 1781px 2189px #fff, 2277px 1215px #fff,
    979px 2554px #fff, 933px 1618px #fff, 1436px 1719px #fff, 2073px 1603px #fff, 521px 2203px #fff,
    1061px 253px #fff, 331px 305px #fff, 802px 457px #fff, 339px 430px #fff, 2044px 1931px #fff,
    2528px 2093px #fff, 336px 1158px #fff, 2543px 1217px #fff, 1618px 2060px #fff,
    2309px 1860px #fff, 2090px 947px #fff, 973px 747px #fff, 303px 1476px #fff, 2167px 745px #fff,
    1713px 2150px #fff, 759px 938px #fff, 641px 2039px #fff, 2369px 2295px #fff, 179px 237px #fff,
    624px 2215px #fff, 1295px 871px #fff, 696px 855px #fff, 765px 592px #fff, 521px 2229px #fff,
    2201px 461px #fff, 1632px 2502px #fff, 318px 2156px #fff, 816px 1373px #fff, 669px 1090px #fff,
    1371px 1236px #fff, 2060px 1374px #fff, 1010px 140px #fff, 1948px 1976px #fff, 344px 1370px #fff,
    169px 1559px #fff, 1704px 2389px #fff, 1750px 2031px #fff, 1582px 2342px #fff,
    1601px 1668px #fff, 2342px 2156px #fff, 2045px 1127px #fff, 1630px 1032px #fff,
    1952px 834px #fff, 2072px 1009px #fff, 1866px 802px #fff, 2549px 2423px #fff, 880px 1369px #fff,
    1081px 2036px #fff, 941px 1543px #fff, 1201px 1946px #fff, 631px 2338px #fff, 2136px 1789px #fff,
    1625px 959px #fff, 896px 886px #fff, 1950px 904px #fff, 1563px 1907px #fff, 1972px 1051px #fff,
    1321px 1368px #fff, 1653px 2092px #fff, 99px 127px #fff, 108px 2147px #fff, 1515px 574px #fff,
    1183px 371px #fff, 2156px 1219px #fff, 1324px 150px #fff, 983px 1856px #fff, 431px 2321px #fff,
    1732px 1333px #fff, 1150px 184px #fff, 2471px 618px #fff, 53px 2331px #fff, 416px 2287px #fff,
    2396px 974px #fff, 1565px 1605px #fff, 920px 1874px #fff, 2160px 1804px #fff, 632px 2299px #fff,
    1553px 1335px #fff, 62px 1655px #fff, 1407px 2118px #fff, 33px 2504px #fff, 515px 1361px #fff,
    565px 735px #fff, 1741px 2432px #fff, 769px 893px #fff, 1210px 1595px #fff, 807px 2172px #fff,
    2162px 2414px #fff, 386px 19px #fff, 1658px 422px #fff, 1722px 107px #fff, 1991px 1586px #fff,
    2362px 344px #fff, 48px 2027px #fff, 2527px 1042px #fff, 595px 773px #fff, 1711px 869px #fff,
    2552px 1312px #fff, 1781px 1903px #fff, 1305px 1972px #fff, 2293px 1558px #fff,
    2318px 295px #fff, 198px 1712px #fff, 1471px 844px #fff, 1273px 1530px #fff, 2254px 145px #fff,
    872px 508px #fff, 1136px 911px #fff, 10px 1558px #fff, 703px 1313px #fff, 296px 829px #fff,
    1441px 607px #fff, 639px 1266px #fff, 1868px 2532px #fff, 881px 1095px #fff, 290px 1852px #fff,
    85px 2419px #fff, 2016px 2458px #fff, 2190px 1229px #fff, 2199px 685px #fff, 1751px 155px #fff,
    441px 249px #fff, 488px 925px #fff, 833px 138px #fff, 861px 1237px #fff, 225px 375px #fff,
    2397px 42px #fff, 1435px 2314px #fff, 2098px 950px #fff, 1630px 291px #fff, 1512px 193px #fff,
    232px 1512px #fff, 1933px 1007px #fff, 1685px 1567px #fff, 488px 1257px #fff, 1788px 494px #fff,
    1171px 1201px #fff, 1050px 1023px #fff, 245px 2101px #fff, 931px 1819px #fff, 322px 647px #fff,
    1310px 691px #fff, 966px 925px #fff, 2240px 355px #fff, 1232px 1187px #fff, 1831px 2049px #fff,
    2372px 4px #fff, 1286px 654px #fff, 2525px 683px #fff, 2198px 452px #fff, 2528px 638px #fff,
    1193px 1104px #fff, 770px 344px #fff, 2150px 798px #fff, 2528px 277px #fff, 1494px 1685px #fff,
    898px 1060px #fff, 2383px 311px #fff, 2006px 306px #fff, 1708px 1662px #fff, 167px 1462px #fff,
    516px 1689px #fff, 2420px 682px #fff, 1407px 982px #fff, 374px 962px #fff, 1685px 2054px #fff,
    2552px 1422px #fff, 1180px 980px #fff, 2176px 1822px #fff, 2227px 2126px #fff, 2266px 342px #fff,
    468px 369px #fff, 2213px 380px #fff, 636px 1332px #fff, 695px 652px #fff, 1833px 1170px #fff,
    2457px 187px #fff, 1766px 1365px #fff, 146px 2401px #fff, 2305px 1358px #fff, 2543px 1648px #fff,
    905px 377px #fff, 2021px 133px #fff, 1064px 1115px #fff, 140px 594px #fff, 2044px 1136px #fff,
    1083px 2456px #fff, 1029px 2112px #fff, 1012px 2437px #fff, 2332px 1673px #fff,
    1081px 1733px #fff, 323px 222px #fff, 1350px 1413px #fff, 1711px 1122px #fff, 1071px 1188px #fff,
    2195px 1533px #fff, 2496px 1549px #fff, 598px 1388px #fff, 721px 1469px #fff, 2096px 1413px #fff,
    1246px 1497px #fff, 1126px 859px #fff, 113px 2063px #fff, 1370px 1485px #fff, 472px 402px #fff,
    160px 2537px #fff, 301px 2549px #fff, 2463px 1345px #fff, 994px 2560px #fff, 545px 2330px #fff,
    779px 196px #fff, 645px 953px #fff, 1959px 2060px #fff, 2330px 159px #fff, 1793px 297px #fff,
    2453px 1833px #fff, 218px 1744px #fff, 1735px 1746px #fff, 2481px 107px #fff, 1665px 177px #fff,
    1142px 1296px #fff, 1355px 623px #fff, 915px 2524px #fff, 1649px 1467px #fff, 195px 815px #fff,
    1865px 1041px #fff, 2287px 1185px #fff, 977px 380px #fff, 321px 1957px #fff, 793px 722px #fff,
    1334px 1450px #fff, 2173px 1819px #fff, 2143px 244px #fff, 1158px 1787px #fff, 579px 2265px #fff,
    1593px 1973px #fff, 1436px 704px #fff, 1350px 1028px #fff, 1698px 2306px #fff, 2332px 810px #fff,
    1655px 736px #fff, 1460px 587px #fff, 836px 2432px #fff, 1352px 1029px #fff, 1126px 1336px #fff,
    2250px 2176px #fff, 2474px 1238px #fff, 430px 1201px #fff, 2441px 2104px #fff, 360px 221px #fff,
    1715px 111px #fff, 2018px 502px #fff, 1953px 1700px #fff, 1895px 2282px #fff, 1904px 2225px #fff;
  border-radius: 50%;
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle 120s linear infinite;
  box-shadow: 0px 0px #fff, 1521px 2329px #fff, 1338px 30px #fff, 248px 1374px #fff,
    2152px 1498px #fff, 619px 1716px #fff, 1649px 2515px #fff, 2260px 1052px #fff,
    1177px 1028px #fff, 1380px 2019px #fff, 2122px 9px #fff, 824px 1986px #fff, 2554px 821px #fff,
    792px 997px #fff, 393px 2443px #fff, 2051px 1084px #fff, 1767px 1777px #fff, 1455px 328px #fff,
    1133px 537px #fff, 2198px 1391px #fff, 1665px 2283px #fff, 93px 1226px #fff, 1613px 525px #fff,
    985px 688px #fff, 879px 1950px #fff, 2506px 1518px #fff, 1727px 1563px #fff, 339px 1397px #fff,
    737px 2208px #fff, 1233px 1944px #fff, 886px 2239px #fff, 297px 1111px #fff, 2383px 417px #fff,
    1699px 1603px #fff, 1333px 436px #fff, 843px 2251px #fff, 2277px 747px #fff, 1925px 756px #fff,
    213px 185px #fff, 833px 717px #fff, 2227px 2312px #fff, 1150px 1029px #fff, 1838px 2102px #fff,
    969px 289px #fff, 452px 2359px #fff, 1116px 2016px #fff, 635px 1594px #fff, 2416px 1649px #fff,
    205px 2048px #fff, 370px 39px #fff, 2077px 1995px #fff, 2263px 1468px #fff, 400px 84px #fff,
    1715px 2220px #fff, 772px 405px #fff, 964px 1756px #fff, 1008px 23px #fff, 1539px 1240px #fff,
    2421px 504px #fff, 1970px 1877px #fff, 784px 637px #fff, 2159px 1734px #fff, 2014px 2202px #fff,
    2537px 7px #fff, 700px 986px #fff, 58px 1016px #fff, 1683px 1738px #fff, 1531px 793px #fff,
    1708px 406px #fff, 942px 30px #fff, 1577px 1271px #fff, 1037px 940px #fff, 1384px 221px #fff,
    966px 2530px #fff, 2310px 1879px #fff, 2357px 1570px #fff, 1587px 333px #fff, 2159px 2389px #fff,
    1801px 2299px #fff, 765px 1952px #fff, 606px 96px #fff, 1337px 882px #fff, 98px 852px #fff,
    743px 1882px #fff, 2195px 783px #fff, 1606px 1675px #fff, 1080px 16px #fff, 2342px 501px #fff,
    1854px 378px #fff, 1266px 207px #fff, 945px 2417px #fff, 2488px 902px #fff, 2177px 2237px #fff,
    1706px 1072px #fff, 626px 70px #fff, 988px 753px #fff, 2048px 1510px #fff, 66px 157px #fff,
    1971px 2054px #fff, 101px 1072px #fff, 119px 880px #fff, 2493px 1681px #fff, 419px 1914px #fff,
    1484px 2163px #fff, 2245px 1972px #fff, 2539px 765px #fff, 774px 414px #fff, 1228px 1973px #fff,
    380px 2070px #fff, 1949px 89px #fff, 27px 2148px #fff, 713px 1882px #fff, 80px 51px #fff,
    104px 2303px #fff, 1634px 54px #fff, 1702px 2148px #fff, 648px 1102px #fff, 468px 42px #fff,
    2356px 684px #fff, 281px 2063px #fff, 1503px 1332px #fff, 1994px 2230px #fff, 634px 31px #fff,
    2235px 205px #fff, 1241px 1489px #fff, 2192px 715px #fff, 640px 965px #fff, 1992px 770px #fff,
    681px 1740px #fff, 2207px 2262px #fff, 1151px 2372px #fff, 1419px 797px #fff, 2495px 1194px #fff,
    863px 913px #fff, 1989px 1879px #fff, 725px 172px #fff, 1758px 1943px #fff, 469px 2156px #fff,
    283px 1834px #fff, 1809px 1063px #fff, 1748px 2312px #fff, 1905px 1305px #fff, 1128px 636px #fff,
    65px 2011px #fff, 1067px 1724px #fff, 1977px 1778px #fff, 2134px 1808px #fff, 1015px 1095px #fff,
    2221px 784px #fff, 2364px 2038px #fff, 2221px 1514px #fff, 1656px 1932px #fff;

  border-radius: 50%;
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px);
  }
}
/* 별영역 */


/** STARS **/

.star-anim-1 {
  z-index: 2000;
  width: 1px;
  height: 1px;
  background: -webkit-linear-gradient(-135deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  animation: shooting-star-1 5s linear infinite;
  animation-delay: 5s;
}

.star-anim-2 {
  z-index: 2000;
  width: 1px;
  height: 1px;
  background: -webkit-linear-gradient(-135deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  animation: shooting-star-2 5s linear infinite;
  animation-delay: 2s;
}

.star-anim-3 {
  z-index: 2000;
  width: 1px;
  height: 1px;
  background: -webkit-linear-gradient(-135deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  animation: shooting-star-3 5s linear infinite;
  animation-delay: 5s;
}

.star-anim-4 {
  z-index: 2000;
  width: 1px;
  height: 1px;
  background: -webkit-linear-gradient(-135deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  animation: shooting-star-4 5s linear infinite;
  animation-delay: 10s;
}

.star-anim-5 {
  z-index: 2000;
  width: 1px;
  height: 1px;
  background: -webkit-linear-gradient(-135deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  animation: shooting-star-5 5s linear infinite;
  animation-delay: 10s;
}

@keyframes shooting-star-1 {
  0% {
    opacity: 1;
    transform: translate(80px, 565px) rotate(45deg);
    width: 1px;
  }
  12% {
    transform: translate(279px, 1004px) rotate(45deg);
    width: 400px;
    opacity: 1;
  }

  15% {
    transform: translate(479px, 1204px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }

  100% {
    transform: translate(479px, 1204px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
}

@keyframes shooting-star-2 {
  0% {
    opacity: 1;
    transform: translate(0px, 0px) rotate(45deg);
    width: 1px;
  }
  15% {
    transform: translate(1100px, 1100px) rotate(45deg);
    width: 400px;
    opacity: 1;
  }
  17% {
    transform: translate(1200px, 1200px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(1200px, 1200px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
}

@keyframes shooting-star-3 {
  0% {
    opacity: 1;
    transform: translate(340px, 175px) rotate(45deg);
    width: 1px;
  }
  15% {
    transform: translate(1440px, 1475px) rotate(45deg);
    width: 400px;
    opacity: 1;
  }
  17% {
    transform: translate(1640px, 1675px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
  100% {
    transform: translate(1640px, 1675px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
}

@keyframes shooting-star-4 {
  0% {
    opacity: 1;
    transform: translate(423px, -256px) rotate(45deg);
    width: 1px;
  }
  11% {
    transform: translate(1382px, 903px) rotate(45deg);
    width: 400px;
    opacity: 1;
  }
  13% {
    transform: translate(1582px, 1103px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
  100% {
    transform: translate(1582px, 1103px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
}

@keyframes shooting-star-5 {
  0% {
    opacity: 1;
    transform: translate(1131px, 124px) rotate(45deg);
    width: 1px;
  }
  13% {
    transform: translate(1657px, 850px) rotate(45deg);
    width: 400px;
    opacity: 1;
  }
  15% {
    transform: translate(1757px, 950px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
  100% {
    transform: translate(1757px, 950px) rotate(45deg);
    width: 400px;
    opacity: 0;
  }
}

.star-container {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.spaceship {
	position: absolute;
	top: 10%;
	height: 250px;
	width: 300px;
	margin-left: -150px;
	animation: spaceshipleft 10s infinite;
  }
  .spaceship_top {
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	top: -150px;
	height: 150px;
	width: 200px;
	/* background-color: #f6a7ba; */
	border-radius: 8rem 8rem 0 0;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_top::before {
	content: "";
	position: absolute;
	left: 150px;
	top: 32px;
	height: 8px;
	width: 10px;
	background-color: white;
	border-radius: 2rem;
	transform: rotate(42deg);
  }
  .spaceship_top::after {
	content: "";
	position: absolute;
	left: 130px;
	top: 20px;
	height: 10px;
	width: 20px;
	background-color: white;
	border-radius: 2rem;
	transform: rotate(32deg);
  }
  .spaceship_middle {
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	width: 300px;
	height: 70px;
	overflow: hidden;
	border-radius: 5rem;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
	z-index: 3;
	animation: colorswap_middle 16s infinite;
  }
  .spaceship_bottom {
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	top: 75px;
	width: 165px;
	height: 30px;
	background-color: #9c0327;
	border-radius: 0 0 2rem 2rem;
	z-index: -1;
	box-shadow: inset 5px 2px 3px 0 #c2c2c2;
	z-index: 2;
  }
  .abduct_hole1 {
	position: absolute;
	left: 32px;
	border: 2px solid white;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0);
	width: 100px;
	height: 100px;
	transform: rotateX(75deg);
	animation: abduct 8s infinite, abductcolor 16s infinite;
  }
  .abduct_hole2 {
	position: absolute;
	left: 32px;
	top: 20px;
	border: 2px solid white;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0);
	width: 100px;
	height: 100px;
	transform: rotateX(75deg);
	animation: abductreverse 8s 0.1s infinite, abductcolor 16s infinite;
  }
  .abduct_hole3 {
	position: absolute;
	left: 32px;
	top: 35px;
	border: 2px solid white;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0);
	width: 100px;
	height: 100px;
	transform: rotateX(75deg);
	animation: abduct 8s 0.2s infinite, abductcolor 16s infinite;
  }
  .abduct_hole4 {
	position: absolute;
	left: 30px;
	top: 50px;
	border: 2px solid white;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0);
	width: 100px;
	height: 100px;
	transform: rotateX(75deg);
	animation: abductreverse 8s infinite, abductcolor 16s infinite;
  }
  .abduct_hole5 {
	position: absolute;
	left: 32px;
	top: 70px;
	border: 2px solid white;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0);
	width: 100px;
	height: 100px;
	transform: rotateX(75deg);
	animation: abductreverse 8s infinite, abductcolor 16s infinite;
  }
  .spaceship_balls_1 {
	position: absolute;
	top: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	animation: moveleft 3s linear infinite, colorswap 16s infinite;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 60px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_1::after {
	content: "";
	position: absolute;
	top: 0;
	left: 120px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_2 {
	position: absolute;
	top: 10px;
	height: 50px;
	width: 50px;
	left: 360px;
	border-radius: 50%;
	animation: moveleft 3s linear 0.64s infinite, colorswap 16s infinite;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 60px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_2::after {
	content: "";
	position: absolute;
	top: 0;
	left: 120px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_3 {
	position: absolute;
	top: 10px;
	height: 50px;
	width: 50px;
	left: 720px;
	border-radius: 50%;
	animation: moveleft 3s linear 1.28s infinite, colorswap 16s infinite;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_3::before {
	content: "";
	position: absolute;
	top: 0;
	left: 60px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_3::after {
	content: "";
	position: absolute;
	top: 0;
	left: 120px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_4 {
	position: absolute;
	top: 10px;
	height: 50px;
	width: 50px;
	left: 1080px;
	border-radius: 50%;
	animation: moveleft 3s linear 1.92s infinite, colorswap 16s infinite;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_4::before {
	content: "";
	position: absolute;
	top: 0;
	left: 60px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_4::after {
	content: "";
	position: absolute;
	top: 0;
	left: 120px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_5 {
	position: absolute;
	top: 10px;
	height: 50px;
	width: 50px;
	left: 1440px;
	border-radius: 50%;
	animation: moveleft 3s linear 2.56s infinite, colorswap 16s infinite;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_5::before {
	content: "";
	position: absolute;
	top: 0;
	left: 60px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .spaceship_balls_5::after {
	content: "";
	position: absolute;
	top: 0;
	left: 120px;
	background-color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: inset 6px 2px 3px 0 #c2c2c2;
  }
  .robot {
	text-align: center;
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	margin-top: -200px;
	transform: scale(0.25);
	z-index: 1;
	animation: robotup 16s infinite;
  }
  #half {
	text-align: center;
	width: 280px;
	height: 200px;
	background: #f16385;
	border: 10px solid #a62a48;
	border-top-left-radius: 300px;
	border-top-right-radius: 300px;
  }
  #brain {
	margin: 0 auto;
	margin-top: 20px;
	width: 160px;
	height: 60px;
	background: #f48aa3;
	border: 20px solid #d6365c;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
  }
  #head {
	position: inherit;
	top: 140px;
	right: -10px;
	width: 320px;
	height: 100px;
	background: #162736;
  }
  #foot {
	position: inherit;
	top: 240px;
	left: 10px;
	width: 280px;
	height: 20px;
	background: #162736;
  }
  #le {
	margin-top: 20px;
	margin-right: 10px;
	display: inline-block;
	width: 33.33333333px;
	height: 33.33333333px;
	border: 10px solid #d6365c;
	border-radius: 50%;
	background: #f8b1c2;
  }
  #re {
	margin-left: 10px;
	display: inline-block;
	width: 33.33333333px;
	height: 33.33333333px;
	border: 10px solid #d6365c;
	border-radius: 50%;
	background: #f8b1c2;
  }
  #lc {
	margin-right: 10px;
	display: inline-block;
	width: 12.5px;
	height: 12.5px;
	border-radius: 50%;
	background: #ee3d67;
	box-shadow: 0 0 5px #ff0066;
	-webkit-box-shadow: 0 0 5px #ff0066;
	-moz-box-shadow: 0 0 5px #ff0066;
  }
  #rc {
	display: inline-block;
	width: 12.5px;
	height: 12.5px;
	border-radius: 50%;
	background: #ee3d67;
	box-shadow: 0 0 5px #ff0066;
	-webkit-box-shadow: 0 0 5px #ff0066;
	-moz-box-shadow: 0 0 5px #ff0066;
  }
  #mouth {
	z-index: 9999;
	position: inherit;
	margin-top: 10px;
	margin-left: 150px;
	height: 10px;
	width: 20px;
	border-radius: 0 0 90px 90px;
	-moz-border-radius: 0 0 90px 90px;
	-webkit-border-radius: 0 0 90px 90px;
	border-right: 5px solid #ee3d67;
	border-left: 5px solid #ee3d67;
	border-bottom: 5px solid #ee3d67;
  }
  #leg-1 {
	display: inline-block;
	position: relative;
	top: 60px;
	left: 10px;
	width: 100px;
	height: 20px;
	background: #162736;
	transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	/* IE 9 */
	-webkit-transform: rotate(60deg);
	/* Safari and Chrome */
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
  }
  #leg-2 {
	display: inline-block;
	position: relative;
	top: 60px;
	left: 10px;
	width: 100px;
	height: 20px;
	background: #162736;
	transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	/* IE 9 */
	-webkit-transform: rotate(-60deg);
	/* Safari and Chrome */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
  }
  #star1 {
	margin: 50px 0;
	position: relative;
	left: -100px;
	top: -100px;
	display: block;
	color: #ffd94d;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #ffd94d;
	border-left: 100px solid transparent;
	transform: rotate(35deg) scale(0.15);
	z-index: 5;
	animation: starpopup 16s infinite;
  }
  #star1:before {
	border-bottom: 80px solid #ffd94d;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -50px;
	display: block;
	content: "";
	transform: rotate(-35deg);
  }
  #star1:after {
	position: absolute;
	display: block;
	color: #ffd94d;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #ffd94d;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: "";
  }
  #star2 {
	margin: 50px 0;
	position: relative;
	left: 210px;
	top: -220px;
	display: block;
	color: #ffd94d;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #ffd94d;
	border-left: 100px solid transparent;
	transform: rotate(35deg) scale(0.15);
	z-index: 5;
	animation: starpopup 16s infinite;
  }
  #star2:before {
	border-bottom: 80px solid #ffd94d;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: "";
	transform: rotate(-35deg);
  }
  #star2:after {
	position: absolute;
	display: block;
	color: #ffd94d;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #ffd94d;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: "";
  }
  #star3 {
	margin: 50px 0;
	position: relative;
	left: 45px;
	top: -410px;
	display: block;
	color: #ffd94d;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #ffd94d;
	border-left: 100px solid transparent;
	transform: rotate(35deg) scale(0.15);
	z-index: 5;
	animation: starpopup 16s infinite;
  }
  #star3:before {
	border-bottom: 80px solid #ffd94d;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: "";
	transform: rotate(-35deg);
  }
  #star3:after {
	position: absolute;
	display: block;
	color: #ffd94d;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #ffd94d;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: "";
  }
  @keyframes starpopup {
	0% {
	  opacity: 0;
	  transform: rotate(35deg) scale(0.1);
	}
	20% {
	  opacity: 0;
	  transform: rotate(235deg) scale(0.1);
	}
	21% {
	  opacity: 1;
	  transform: rotate(-135deg) scale(0.1);
	}
	28% {
	  opacity: 0;
	  transform: rotate(-635deg) scale(0.1);
	}
	55% {
	  opacity: 0;
	  transform: rotate(135deg) scale(0.1);
	}
	70% {
	  opacity: 0;
	  transform: rotate(935deg) scale(0.1);
	}
	71% {
	  opacity: 1;
	  transform: rotate(-135deg) scale(0.1);
	}
	78% {
	  opacity: 0;
	  transform: rotate(-635deg) scale(0.1);
	}
	100% {
	  opacity: 0;
	  transform: rotate(35deg) scale(0.1);
	}
  }
  @keyframes robotup {
	0% {
	  top: 80%;
	}
	20% {
	  top: 80%;
	}
	25% {
	  top: 43%;
	}
	50% {
	  top: 44%;
	}
	70% {
	  top: 44%;
	}
	75% {
	  top: 80%;
	}
	100% {
	  top: 80%;
	}
  }
  @keyframes abduct {
	0% {
	  opacity: 0;
	}
	42% {
	  opacity: 0;
	}
	43% {
	  opacity: 0.8;
	  transform: rotateX(75deg) translateY(0px);
	}
	45% {
	  transform: rotateX(75deg) translateY(200px) scale(0.8);
	  opacity: 0.8;
	}
	47% {
	  transform: rotateX(75deg) translateY(0px);
	  opacity: 0.8;
	}
	48% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes abductreverse {
	0% {
	  opacity: 0;
	}
	42% {
	  opacity: 0;
	}
	43% {
	  opacity: 0.8;
	  transform: rotateX(75deg) translateY(0px);
	}
	45% {
	  opacity: 0.8;
	  transform: rotateX(75deg) translateY(-100px);
	}
	48% {
	  opacity: 0.8;
	  transform: rotateX(75deg) translateY(0px);
	}
	49% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes moveleft {
	0% {
	  left: 350px;
	}
	100% {
	  left: -500px;
	}
  }
  @keyframes spaceshipleft {
	0% {
	  transform: rotate(-10deg);
	  left: 200%;
	}
	15% {
	  left: 80%;
	  transform: rotate(-20deg);
	}
	30% {
	  left: 70%;
	  transform: rotate(20deg);
	}
	40% {
	  left: 75%;
	  transform: rotate(0deg) translateY(0px);
	}
	45% {
	  /* left: 65%; */
	  transform: rotate(0deg) translateY(-20px);
	}
	50% {
	  left: 75%;
	  transform: rotate(0deg) translateY(0px);
	}
	60% {
	  left: 65%;
	  transform: rotate(-20deg);
	}
	61% {
	  left: 60%;
	}
	100% {
	  left: -100%;
	}
  }
  @keyframes bodycolor {
	0% {
	  background-image: linear-gradient(to top, #ee3d67, #ef466e, #f04f75, #f1567b, #f25e82);
	}
	20% {
	  background-image: linear-gradient(to top, #ee3d67, #ef466e, #f04f75, #f1567b, #f25e82);
	}
	21% {
	  background-image: linear-gradient(to right top, #ffffff, #f7f2fa, #f4e4f1, #f3d5e4, #f4c6d2);
	}
	70% {
	  background-image: linear-gradient(to right top, #ffffff, #f7f2fa, #f4e4f1, #f3d5e4, #f4c6d2);
	}
	71% {
	  background-image: linear-gradient(to top, #ee3d67, #ef466e, #f04f75, #f1567b, #f25e82);
	}
	100% {
	  background-image: linear-gradient(to top, #ee3d67, #ef466e, #f04f75, #f1567b, #f25e82);
	}
  }
  @keyframes abductcolor {
	0% {
	  border: 2px solid white;
	}
	20% {
	  border: 2px solid white;
	}
	21% {
	  border: 2px solid #ee3d67;
	}
	70% {
	  border: 2px solid #ee3d67;
	}
	71% {
	  border: 2px solid white;
	}
	100% {
	  border: 2px solid white;
	}
  }
  @keyframes colorswap {
	0% {
	  background-color: #ee3d67;
	}
	20% {
	  background-color: #ee3d67;
	}
	21% {
	  background-color: #fff;
	}
	70% {
	  background-color: #fff;
	}
	71% {
	  background-color: #ee3d67;
	}
	100% {
	  background-color: #ee3d67;
	}
  }
  @keyframes colorswap_middle {
	0% {
	  background-color: #fff;
	}
	20% {
	  background-color: #fff;
	}
	21% {
	  background-color: #ee3d67;
	}
	70% {
	  background-color: #ee3d67;
	}
	71% {
	  background-color: #fff;
	}
	100% {
	  background-color: #fff;
	}
  }
  