@charset "utf-8";

.header {
  background: #121a3b;
  padding: 40px 0;
}
.header .container {
}
.header .main {
}
.header .main .menu {
  text-align: center;
}

.header .main .menu li {
  display: inline-block;
  margin: 15px 40px;
  position: relative;
  font-weight: 700;
  margin-left: 70px;
}
.header .main .menu .snip1575 {
  display: block;
  color: #fff;
  font-family: "THE명품고딕L_U", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  background: transparent;
  padding: 12px 40px 10px;
}

.header .main .menu .snip1575:before,
.header .main .menu .snip1575:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.header .main .menu .snip1575:before {
  border-color: #f5f488;
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.header .main .menu .snip1575:after {
  border-bottom-width: 2px;
  border-color: #f5f488;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
.header .main .menu .snip1575:hover,
.header .main .menu .snip1575.hover {
  background-color: #f5f488;
  color: #333;
}

.header .main .menu .snip1575:hover:before,
.header .main .menu .snip1575.hover:before,
.header .main .menu .snip1575:hover:after,
.header .main .menu .snip1575.hover:after {
  height: 100%;
  width: 100%;
}
/* Demo purposes only */

/* 메뉴부분 */

.header .main .mainimg {
  position: relative;
}
.header .main .mainimg img {
  margin: 100px 300px;
  display: block;
}
.header .main .mainimg .imgtxt {
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
}
.header .main .mainimg .imgtxt p {
  color: #fff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  top: -20px;
}
.header .main .mainimg .imgtxt h4 {
  color: #fff;
  font-size: 36px;
  letter-spacing: 45px;
  text-align: center;
  margin-left: 40px;
}
.header .main .mainimg .imgtxt span {
  color: #fff;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  margin-top: 150px;
  letter-spacing: 15px;
}
/* 메인 이미지&택스트영역 */
#content {
  padding: 200px 0;
}
#content .skills {
}
#content .skills h3 {
  color: #fff;
  font-size: 72px;
  text-align: center;
}
#content .skills .Astronaut {
}
#content .skills .Astronaut img {
  width: 600px;
  margin-left: -100px;
  float: left;
  animation: motion 2s linear 0s infinite alternate;
}
@keyframes motion {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
#content .skills .skill {
  float: left;
  margin-top: 130px;
}
#content .skills .skill .box {
  position: relative;
  margin: 20px 0;
}
#content .skills .skill .box p {
  color: #fff;
  margin: 10px 0;
}
#content .skills .skill .box p span {
  color: #fff;
  float: right;
  display: block;
  margin-left: 300px;
}
#content .skills .skill .box .gage {
  width: 0px;
  height: 50px;
  background: #fff;
  position: absolute;
}
#content .skills .skill .box.view .box1 {
  animation: slide 2s forwards;
}
#content .skills .skill .box.view .box2 {
  animation: slide2 2s forwards;
}
#content .skills .skill .box.view .box3 {
  animation: slide3 2s forwards;
}
#content .skills .skill .box.view .box4 {
  animation: slide4 2s forwards;
}
#content .skills .skill .box.view .box5 {
  animation: slide5 2s forwards;
}

@keyframes slide {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 570px;
    opacity: 1;
  }
}
@keyframes slide2 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 500px;
    opacity: 1;
  }
}
@keyframes slide3 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 440px;
    opacity: 1;
  }
}
@keyframes slide4 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 500px;
    opacity: 1;
  }
}
@keyframes slide5 {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 370px;
    opacity: 1;
  }
}
#content .skills .skill .box .bg {
  width: 640px;
  height: 50px;
  background: #797c92;
}
#portfolio {
  padding: 200px 0;
  background: #fff;
}
#portfolio .pfo {
}
#portfolio .pfo h3 {
  color: #121a3b;
  font-size: 72px;
  text-align: center;
  margin-bottom: 100px;
}
#portfolio .conts {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
}
#portfolio .conts .cont {
  position: relative;
  width: 360px;
  height: 360px;
  background: #292b54;
  cursor: pointer;
  flex: 1 1 auto;
  text-align: center;
  border-radius: 10px;
}
#portfolio .conts .cont:nth-child(2) {
  margin: 0 20px;
}
#portfolio .conts .cont:hover {
  height: 425px;
  transition: all 0.5s ease;
}
#portfolio .conts .cont .square .txt {
  color: #fff;
  margin: 20px 0;
}
#portfolio .conts .cont .square .hidden {
  color: #fff;
  display: none;
}
#portfolio .conts .cont:hover .square .hidden {
  display: block;
}
#portfolio .conts .cont .square img,
#portfolio .conts .cont .square a {
  display: none;
}
#portfolio .conts .cont .circle {
  width: 200px;
  height: 200px;
  background: #f4f487;
  border-radius: 50%;
  position: relative;
  margin: 50px auto 0;
}
#portfolio .conts .cont:hover .circle {
  background: #47497d;
  transition: all 0.5s ease;
}
#portfolio .conts .cont .circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #47497d;
}
#portfolio .conts .cont:hover .circle i {
  color: #f4f487;
}
/* 첫번째 */
.pop-site {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.pop-site .pop-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.pop-site .pop-cont {
  position: absolute;
  z-index: 100;
  width: 40%;
  height: 80%;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pop-site .pop-cont .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #828282;
}
.pop-site .pop-cont .close:hover {
  color: #333;
}
.pop-site .pop-cont .pop-head {
  height: 25%;
  padding: 20px;
}
.pop-site .pop-cont .pop-head h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.pop-site .pop-cont .pop-head p {
  font-size: 30px;
  margin: 10px 0 30px;
}
.pop-site .pop-cont .pop-head a {
  display: inline-block;
  width: 30%;
  border: 2px solid #292b54;
  background: #fff;
  color: #292b54;
  text-align: center;
  padding: 10px 0;
  margin-right: 10px;
  font-weight: bold;
}
.pop-site .pop-cont .pop-head a:hover {
  background: #292b54;
  color: #fff;
}
.pop-site .pop-cont .pop-preview {
  height: 75%;
  background: #e1e1e1;
  overflow-y: scroll;
  text-align: center;
}
.pop-site .pop-cont .pop-preview img {
  width: 90%;
}

#footer {
  padding: 130px 0;
  /* background: #121a3b; */
  color: #fff;
  position: relative;
  overflow: hidden;
}
#footer .contact {
  position: relative;
}

#footer h3 {
  font-size: 72px;
  text-align: center;
}
.contact .Icon {
  padding: 100px 0;
}
.contact .Icon > div {
  width: 33.33%;
  float: left;
  text-align: center;
  position: relative;
}
.contact .Icon > div a {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 auto;
  position: relative;
}
.contact .Icon > div a i {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact .Icon > div p {
  margin-top: 30px;
}
